	<div id="header">
		<div class="header-title">
			<h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
			<h2>{{ site.description }}</h2>
		</div>
		<div id="topmenu">
			<a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/theme/home.png' | relative_url }}" title="Home" alt="Home" /></a>
			<a href="{{ '/kontakt/' | relative_url }}"><img src="{{ '/assets/images/theme/contact.png' | relative_url }}" title="Kontakt" alt="Kontakt" /></a>
			<a href="{{ '/feed/' | relative_url }}"><img src="{{ '/assets/images/theme/rss.png' | relative_url }}" title="RSS" alt="RSS" /></a>
		</div>
	</div>
